@model MinistrySuite.Web.ViewModels.PrayerRequestWeeklyVM

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-md-6">
        <h2>Prayer requests this week</h2>
        @foreach (var item in Model.WeeklyPrayerRequests)
        {
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>@item.Date.DayOfWeek @item.Date.Day</strong>
                        @if (@item.Date.Date.Date == DateTimeOffset.Now.Date.Date)
                        {
                            <span class="badge">Today</span>
                        }
                    </li>
                    @foreach (var request in item.PrayerRequestes)
                    {
                        <li class="list-group-item"> @Html.ActionLink(request.Title, "ViewSingleRequest", "PrayerRequest", new { id = request.Id }, null)</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
